.endpoint {
    -fx-background-color: red;
}

.passable {
    -fx-background-color: grey;
}

.outofbounds {
    -fx-background-color: black;
}

.trees {
    -fx-background-color: green;
}

.swamp {
    -fx-background-color: purple;
}

.water {
    -fx-background-color: blue;
}

.closed {
    -fx-background-color: yellow;
}

.path {
    -fx-background-color: red;
}
